// Spacing
$spacing-none:  0 !default;
$spacing-xs:    .25rem !default;
$spacing-sm:    .5rem !default;
$spacing-md:    1rem !default;
$spacing-lg:    2rem !default;
$spacing-xl:    4rem !default;
$spacing-xxl:   8rem !default;
$spacing-xxxl:  16rem !default;


// Breakpoints availble for the mappy-bp mixin
$breakpoints: (
    'xs': 320px,   // 20em
    'sm': 480px,   // 30em
    'md': 768px,   // 48em
    'lg': 1024px,  // 64em
    'xl': 1200px   // 75em
) !default;


// Breakpoints used for utility class generation
$utility-breakpoints: (
    'sm': 480px,   // 30em
    'md': 768px,   // 48em
    'lg': 1024px,  // 64em
) !default;


// Type Scale
$f-headline: 6rem !default;
$f-subheadline: 5rem !default;
$f1: 3rem !default;
$f2: 2.25rem !default;
$f3: 1.5rem !default;
$f4: 1.25rem !default;
$f5: 1rem !default;
$f6: .875rem !default;
$f7: .75rem !default;


// Flags to toggle breakpoint-prefixed class generation per-component
// This allows to build significantly smaller CSS
$breakpoint-classes--type-scale: true !default;
$breakpoint-classes--spacing: true !default;
$breakpoint-classes--widths: true !default;
$breakpoint-classes--max-widths: false !default;
$breakpoint-classes--heights: true !default;
