<div class="pa4@lg">
    <form class="bg-blue mw7 center pa4 br2@sm ba b--black-10">
      <fieldset class="cf bn ma0 pa0">
        <legend class="pa0 f5 f4@sm mb3 white-80">Sign up for our newsletter</legend>
        <div class="cf">
          <label class="clip" for="email-address">Email Address</label>
          <input class="f6 f5@lg input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75@md w-80@lg br2@sm br--left@sm" placeholder="Your Email Address" type="text" name="email-address" value="" id="email-address">
          <input class="f6 ba b--white f5@lg button-reset fl pv3 tc bn bg-animate bg-green hover-bg-dark-green white pointer w-100 w-25@md w-20@lg br2@sm br--right@sm" type="submit" value="Subscribe">
        </div>
      </fieldset>
    </form>
  </div>
