/*

   BACKGROUND SIZE
   Docs: http://tachyons.io/docs/themes/background-size/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*
  Often used in combination with background image set as an inline style
  on an html element.
*/

.cover { background-size: cover !important; }
.contain { background-size: contain !important; }

@if ($breakpoint-classes--background-size) {
    // Loop over each breakpoint and generate according classes
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .cover\@#{$breakpoint-name} { background-size: cover !important; }
            .contain\@#{$breakpoint-name} { background-size: contain !important; }
        }
      }
}
