
// Converted Variables


// Custom Media Query Variables


/*

   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf::before,
.cf::after {
    display: table;
    content: '';
}

.cf::after { clear: both; }
.cf {       *zoom: 1; }

.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }
.cn { clear: none; }

@if ($breakpoint-classes--clears) {
    // Loop over each breakpoint and generate according classes
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .cl\@#{$breakpoint-name} { clear: left; }
            .cr\@#{$breakpoint-name} { clear: right; }
            .cb\@#{$breakpoint-name} { clear: both; }
            .cn\@#{$breakpoint-name} { clear: none; }
        }
    }
}
