/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    t-row          = table-row
    t-columm       = table-column
    t-column-group = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.dn {              display: none; }
.di {              display: inline; }
.db {              display: block; }
.dib {             display: inline-block; }
.dit {             display: inline-table; }
.dt {              display: table; }
.dtc {             display: table-cell; }
.dt-row {          display: table-row; }
.dt-row-group {    display: table-row-group; }
.dt-column {       display: table-column; }
.dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
    width: 100%;
    table-layout: fixed;
}

@if ($breakpoint-classes--display) {
    // Loop over each breakpoint and generate according classes
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .dn\@#{$breakpoint-name} {              display: none; }
            .di\@#{$breakpoint-name} {              display: inline; }
            .db\@#{$breakpoint-name} {              display: block; }
            .dib\@#{$breakpoint-name} {             display: inline-block; }
            .dit\@#{$breakpoint-name} {             display: inline-table; }
            .dt\@#{$breakpoint-name} {              display: table; }
            .dtc\@#{$breakpoint-name} {             display: table-cell; }
            .dt-row\@#{$breakpoint-name} {          display: table-row; }
            .dt-row-group\@#{$breakpoint-name} {    display: table-row-group; }
            .dt-column\@#{$breakpoint-name} {       display: table-column; }
            .dt-column-group\@#{$breakpoint-name} { display: table-column-group; }

            .dt--fixed\@#{$breakpoint-name} {
                width: 100%;
                table-layout: fixed;
            }
        }
    }
}
