/*

   FONT STYLE
   Docs: http://tachyons.io/docs/typography/font-style/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.i         { font-style: italic; }
.fs-normal { font-style: normal; }

@if ($breakpoint-classes--font-style) {
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .i\@#{$breakpoint-name}         { font-style: italic; }
            .fs-normal\@#{$breakpoint-name} { font-style: normal; }
        }
    }
}
