/*

    BORDERS
    Docs: http://tachyons.io/docs/themes/borders/

    Base:
      b = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.ba {
    border-width: 1px;
    border-style: solid;
}

.bt {
    border-top-width: 1px;
    border-top-style: solid;
}

.br {
    border-right-width: 1px;
    border-right-style: solid;
}

.bb {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.bl {
    border-left-width: 1px;
    border-left-style: solid;
}

.bn {
    border-width: 0;
    border-style: none;
}

@if ($breakpoint-classes--borders) {
    // Loop over each breakpoint and generate according classes
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .ba\@#{$breakpoint-name} {
                border-width: 1px;
                border-style: solid;
            }

            .bt\@#{$breakpoint-name} {
                border-top-width: 1px;
                border-top-style: solid;
            }

            .br\@#{$breakpoint-name} {
                border-right-width: 1px;
                border-right-style: solid;
            }

            .bb\@#{$breakpoint-name} {
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }

            .bl\@#{$breakpoint-name} {
                border-left-width: 1px;
                border-left-style: solid;
            }

            .bn\@#{$breakpoint-name} {
                border-width: 0;
                border-style: none;
            }
        }
    }
}
