
// Converted Variables


// Custom Media Query Variables


/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.lh-solid { line-height: 1; }
.lh-title { line-height: 1.25; }
.lh-copy  { line-height: 1.5; }

@if ($breakpoint-classes--line-height) {
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .lh-solid\@#{$breakpoint-name} { line-height: 1; }
            .lh-title\@#{$breakpoint-name} { line-height: 1.25; }
            .lh-copy\@#{$breakpoint-name}  { line-height: 1.5; }

        }
    }
}
