
// Converted Variables


// Custom Media Query Variables


/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

/*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */

.f-6,
.f-headline {
    font-size: $f-headline;
}

.f-5,
.f-subheadline {
    font-size: $f-subheadline;
}


/* Type Scale */
.f1 { font-size: $f1; }
.f2 { font-size: $f2; }
.f3 { font-size: $f3; }
.f4 { font-size: $f4; }
.f5 { font-size: $f5; }
.f6 { font-size: $f6; }
.f7 { font-size: $f7; } /* Small and hard to read for many people so use with extreme caution */

@if ($breakpoint-classes--type-scale) {

    // Loop over each breakpoint and generate according classes
    @each $breakpoint-name, $breakpoint-value in $utility-breakpoints {
        @include mappy-bp($breakpoint-value) {
            .f-6\@#{$breakpoint-name},
            .f-headline\@#{$breakpoint-name} {
                font-size: $f-headline;
            }

            .f-5\@#{$breakpoint-name},
            .f-subheadline\@#{$breakpoint-name} {
                font-size: $f-subheadline;
            }

            .f1\@#{$breakpoint-name} { font-size: $f1; }
            .f2\@#{$breakpoint-name} { font-size: $f2; }
            .f3\@#{$breakpoint-name} { font-size: $f3; }
            .f4\@#{$breakpoint-name} { font-size: $f4; }
            .f5\@#{$breakpoint-name} { font-size: $f5; }
            .f6\@#{$breakpoint-name} { font-size: $f6; }
            .f7\@#{$breakpoint-name} { font-size: $f7; }
        }
    }
}
